
<div class="container">

<div class="jumbotron">
  <h4 class="text-center">Get Your News Here</h4>
</div>

<div id="news"></div>
  <div id="sideComments">
    <div id="comment"></div>
      <div id="commentResults"></div>
  </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2 id="photoTitleM">Leave a Comment</h2>
    </div>
    <div class="modal-body">
      <input type="text" name="comment" id="commentBox"><br />
      <input type="submit" name="Submit" id="savecomment">
    </div>
    <!-- <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div> -->
  </div>

</div>

<script src="https://code.jquery.com/jquery-2.2.1.min.js"> </script>

<script src="../app.js"></script>

</div>