body {
	background-color: #eeeeee;
}

#savecomment {
	margin: 15px 0 0 0;
	padding: 10px 45px;
	background-color: cornflowerblue;
	color: #fff;
	border-style: none;
	border-radius: 5px;
	font-weight: 300;
}

#savecomment:hover {
	background-color: #fff;
	color: gray;
}


#commentBox {
	width: 100%;
	height: 75px;
}