<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>The News</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./assets/style.css">
</head>

<body>

<div class = 'container'>
	
	<div class='jumbotron'>
		
		<h1 class="text-center"> Get Your News Here</h1>
	
	</div>

	<div class="story col-xs-12">
		
		<h4 id="news"><div class="form-group">
  <label for="comment">Comment:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
</div></h4>

	</div>

	<span>

		<div id='comment' class='col-xs-12 col-sm-6'></div>

		<div id='textbox' class='col-xs-12 col-sm-6'></div>

	</span>


</div>





<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="app.js"></script>

</body>
</html>